body{
  font-family: 'lucida grande', 'tachoma', 'verdana', 'arian';
  background-color:#000000
}
#container{
	width:1080px;
	margin:0 auto;
	padding:1px;
	background-color:#000;
}
#navigation{
	height:60px;
	border:3px solid #e3e3e3;
	margin-top:9px;
	
	background-color:white;
	
}
ul#navmenu{
	list-style-type:none;
	font-style:20px;
}
ul#navmenu li{
	width:200px;
	text-align:center;
	float:left;
	margin-right:50px;
	
}
ul#navmenu a{
	text-decoration:none;
	color:#000;
	display:block;
	width:180px;
	height:25px;
	border:1px solid #ccc;
	background-color:#e3e3e3;
	border-radius:5px;
}
#banner{
	margin-top:0px;
	height:500px;
	background-image:url(../images/g.jpg);
	background-size:cover;
	text-align:center;
	
}
.contact-title{
	margin-top:40px;
	color:#fff;
	text-transform:uppercase;
	transition: all 4s ease-in-out;
	
}
.contact-title h1{
	
	font-size:20px;
	line-height:10px;
}
.contact-title h2{
	font-size:16px;
	
}
form{
	margin-top:50px;
	transition: all 4s ease-in-out;
	
}


.form-control{
	width:200px;
	background:transparent;
	border:none;
	border-bottom:1px solid gray;
	color:white;
	font-size:18px;
	margin-bottom:16px;
}
input{
	height:45px;
}
form.submit{
	background:#ff5722;
	border-color:transparent;
	color:white;
	font-size:10px;
	font-weight:bold;
	letter-spacing:2px;
	height:50px;
	margin-top:20px;
}
form.submit:hover{
	background-color:#f44336;
	cursor:pointer;
}
#content-area{
	float:left;
	background-image:url(../images/t.png);
	width:750px;
	margin:20px 0 20px 0;
	padding:10px;
	border:3px solid #e3e3e3;
	color:white;
}
#sidebar{
	float:right;
	width:250px;
	margin:20px 10px 20px 10px;
	border:3px solid #e3e3e3;
}
#footer{
	clear:both;
	width:auto;
	height:20px;
	margin-top:20px;
	padding:20px;
	background-color:white;
	color:#000;
	text-align:center;
}